In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv(f"output/results_qlearning.csv")

In [3]:
df

                 id_modelo  avg_reward  success_rate
0    model_parameter_1.pkl     -77.563         0.150
1   model_parameter_10.pkl     -74.516         0.143
2   model_parameter_11.pkl     -81.634         0.138
3   model_parameter_12.pkl     -67.838         0.155
4   model_parameter_13.pkl     -82.072         0.139
5   model_parameter_14.pkl     -68.474         0.148
6   model_parameter_15.pkl     -68.699         0.158
7   model_parameter_16.pkl     -70.150         0.146
8   model_parameter_17.pkl     -73.743         0.133
9   model_parameter_18.pkl     -76.895         0.156
10  model_parameter_19.pkl     -75.067         0.135
11   model_parameter_2.pkl     -72.895         0.140
12  model_parameter_20.pkl     -74.136         0.141
13   model_parameter_3.pkl     -67.456         0.154
14   model_parameter_4.pkl     -73.792         0.153
15   model_parameter_5.pkl     -75.178         0.145
16   model_parameter_6.pkl     -84.956         0.134
17   model_parameter_7.pkl     -76.710         0.137
18   model_parameter_8.pkl     -72.114         0.159
19   model_parameter_9.pkl     -77.218         0.148